
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Markato/Layout.cshtml";
}

<div class="login-form">
    <form method="post" action="/Customers/Register" id="RegisterForm">
        <div class="form-group">
            <label>first name</label>
            <input type="text" name="CustomerFName" required class="form-control" placeholder="first name">
        </div>
        <div class="form-group">
            <label>last name</label>
            <input type="text" name="CustomerLName" required class="form-control" placeholder="last name">
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" name="CustomerEmail" required class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="tel" name="CustomerPhone" required class="form-control" placeholder="phone">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="pass" required class="form-control" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30 Register">Register</button>

        <div class="register-link m-t-15 text-center">
            <p>Already have account ? <a href="/Markato/Index"> Sign in</a></p>
        </div>
    </form>
</div>

