
<form method="Post" class="row">
    <div class="form-group row AddMemberRow col-12">
        <div class="col-sm-7">
            <input type="text" class="form-control" id="" placeholder="Member Username">
        </div>
        <div class="col-sm-5">
            <button type="button" class="btn btn-outline-success SendRequest" id="">Send Request</button>
        </div>
    </div>
</form>
