    <div class="form-group row col-12">
        <div class="col-sm-7">
            <input type="email" class="form-control memberMail"  placeholder="Leader E-Mail">
        </div>
        <div class="col-sm-5">
            <button type="submit" class="btn btn-outline-success SendRequest" id="@ViewData["pid"]">Send Request</button>
        </div>
    </div>

